@font-face{
  font-family: 'MiLato';
  url: ('Lato-Regular.ttf');
}

body{
  margin: 20px;
  font-family: 'Lora';
}

.resaltado{
  background-color: yellow;
}
#menu-principal{
  padding: 10px 0px;
  font-style: italic;
  font-family: 'MiLato';
}
.titulo{
  background-color: aliceblue;
  padding: 10px;
  text-align: center;
  font-variant: small-caps;
  font-family: 'MiLato';
}
footer{
  border-top: solid 1px black;
  padding-top: 10px;
  text-align: center;
}
