table, td, th{
  border: 1px solid black;
  border-collapse: collapse;
}

table{
  width: 50%;
}

td, th{
  width: 33%;
  height: 30px;
}


th {
  text-align: right;
  vertical-align: top;
}

td{
  text-align: left;
  vertical-align: bottom;
}

tr:nth-child(odd){
  background-color: lightgray;
}

tr:nth-child(even){
  background-color: pink;
}
